.myStories-page {
  height: 88vh;
  width: 49vw;
  background: #1E1E20;
}

.myStories-page-toggleBtns {
  display: flex;
  justify-content: center;
  position: relative;
  top: 2%;
}

.myStories-page-stuff {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1E1E20;
  width: 100%;
  overflow: scroll;
}

.myStories {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  overflow: scroll;
  position: relative;
  width: 49vw;
  height: 82vh;
  margin-top: 28px;
}

.myStory {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: #E8FFF5;
  position: relative;
  margin: 10px;
  text-align: center;
  height: 25vh;
  width: 32vw;
  border-radius: 5px;
  border: 1px solid black;
  font-family: 'Muli', sans-serif;
  overflow: scroll;
}

.myStories-box {
  height: 90%;
  overflow: scroll;
  padding: 10px;
}

.myStories-btn-box {
  height: 14%;
  background: #E8FFF5;
  border-top: 1px solid black;
  padding-top: 2px;
  font-family: 'Merriweather Sans', sans-serif;
}

.myStories-page-toggleBtns {
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
  outline: none;
  border: none;
}

.myStories-btn {
  background: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  color: #DE5F55;
}

.myStories-savedStories-btn {
  background: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  color: mintcream;
}
