<body ng-controller='dashboardCtrl'>
  <section class="dashboard-nav">


    <h1 class="dashTitle">{{test}}</h1>


  <div class="dashboard-nav-btns">
    <button class="storiesBtn" type="button" name="button" ui-sref='dashboard.stories' ng-click="border()">stories</button>
    <button class="followingBtn" type="button" name="button" ui-sref='dashboard.following' ng-click="border()">following</button>
    <button class="draftsBtn" type="button" name="button" ui-sref='dashboard.drafts' ng-click="border()">drafts</button>
    <button class="userBtn" type="button" name="button" ui-sref='dashboard.myStories' ng-click="border()">{{user}}</button>
    <button class="composeBtn" type="button" name="button" ng-click="compose()" ng-click="border()">compose</button>
    <button class="logOutBtn" type="button" name="button" ng-click="logout()" ng-click="border()">log out</button>
  </div>
  </section>
  <section class="dashboard-compose">


    <div class="compose" ng-show="message">
      <textarea class="compose-textarea" name="name" rows="4" cols="40" placeholder="What's your story?" ng-model="story"></textarea>
      <div class="compose-btn-body">
       <button class="compose-publishBtn" type="button" name="button" ng-click="addStory(story); compose()">Publish</button>
       <button class="compose-saveBtn" type="button" name="button" ng-click='saveDraft(story)'>Save Draft</button>
      </div>
    </div>

  </section>
  <div ui-view="dashboard"></div>

</body>
