<body ng-controller="landingPageCtrl">
  <section class="intro-main">
    <div class="intro-video">
      <!-- <video loop class="background-vid" src="./videos/In-And-Out.mp4" autoplay poster="posterimage.jpg"></video> -->
    </div>

    <div class="title-Buttons">
      <div class="intro-title">
        <h1 class="title">Story Swap</h1>
      </div>

      <div class="buttons">
        <button class="signUpBtn" type="button" name="button"ng-click="begin(); getRandomWords(); getEmails()" ng-show="startButton" ui-sref="signUp">Sign Up!</button>
        <button class="logInBtn" type="button" name="button" ui-sref="login" class='loginBtn' ng-show="logIn">log in</button>
      </div>
    </div>

    <div class="slanted"></div>

  </section>
  <section class="info">

    <div class="words">
      <br>
      <p>Explore</p>
      <br>
      <p>A New</p>
      <br>
      <p>World of Experiences</p>
      <br>
    </div>
    <div class="boxes">
      <div class="overlay"></div>
      <div class="inside-write">
        Write whatever you want!
      </div>
      <div class="write">
        Write
      </div>


      <div class="learn">
        Learn
      </div>
        <div class="inside-learn">
          Learn from the experiences of others
        </div>

      <div class="discover">
          Discover
      </div>
        <div class="inside-discover">
          Discover a world like none before
        </div>

    </div>
  </section>
</body>
