<body ng-controller="loginCtrl">
  <section class="login">
    <nav class="nav" ng-mouseover="disappear()" >
      <a ui-sref="landingPage">Story Swap</a>
    </nav>
    <div class="under-nav">
      <a class="back-to-landing" ui-sref="landingPage">Story Swap</a>
    </div>


  <div class="welcome" ng-mouseover="appear()">
    <h1>Welcome Back</h1>
  </div>

  <form class="loginForm" method="submit">
    <input class="email" type="input" name="name" value="" placeholder="Email" ng-model="email">
    <input class="password" type="password" name="name" value="" placeholder="Password" ng-model="password">
    <button class="loginPageBtn" ng-click="login(email, password)">Login</button>
  </form>

  </section>
</body>
