<body ng-controller="myStoriesCtrl">
<section class="myStories-page">

  <div class="myStories-page-toggleBtns">
    <button class="myStories-btn" type="button" name="button" ng-click="viewMyStories()">My Stories</button>
    <button class="myStories-savedStories-btn" type="button" name="button" ng-click="viewSavedStories()">Saved Stories</button>
  </div>


  <div ng-show="userLoggedIn">{{user}}</div>

<!-- <div class="myStories-page-stuff"> -->
  <div class="savedStories" ng-show="stories">
    <div class="savedStory" ng-repeat="savedStory in savedStories">
      <div class="savedStory-displayName-box">
        <div class="savedStory-displayName">
          {{savedStory.display_name}}
        </div>
      </div>

      <div class="savedStory-story-box">
        {{savedStory.story}}
      </div>
      <div ng-show='id'>{{savedStory.id}}</div>
      <div class="savedStory-btn-control">
        <div class="savedStory-delete" type="button" name="button" ng-click="removeSavedStory(savedStory.id, user)">Delete Saved Story</div>
      </div>
    </div>
  </div>

  <div class="myStories" ng-show="storiesByMe">
    <div class="myStory" ng-repeat="myStory in myStories">
      <div class="myStories-box">
        {{myStory.story}}
      </div>
      <div ng-show='id'>{{myStory.id}}</div>
      <div class="myStories-btn-box">
        <div type="button" name="button" ng-click="remove(myStory.id)">Delete from My Stories</div>
      </div>
    </div>
  </div>
<!-- </div> -->

  <!-- <div class="myStories-label">
    {{displayName}}
  </div> -->
</section>
</body>
