<body ng-controller="myStoriesCtrl">
  {{test}}

  <div ng-show="userLoggedIn">{{user}}</div>

  <button type="button" name="button" ng-click="viewMyStories()">My Stories</button>
  <button type="button" name="button" ng-click="viewSavedStories()">Saved Stories</button>

<div ng-show="stories">
  <div ng-repeat="savedStory in savedStories">
    {{savedStory.story}}
    {{savedStory.display_name}}
    <div ng-show='id'>{{savedStory.id}}</div>
    <button type="button" name="button" ng-click="removeSavedStory(savedStory.id, user)">Delete Saved Story</button>
  </div>
</div>

  <div class="storiesByMe" ng-show="myStories">
    <div class="myStory" ng-repeat="myStory in myStories">
      {{myStory.story}}
      <div ng-show='id'>{{myStory.id}}</div>
      <button type="button" name="button" ng-click="remove(myStory.id)">Delete from My Stories</button>
    </div>
  </div>

</body>
