<body ng-controller="signUpCtrl">

<h1 ng-show="newName"> Hello, {{displayName}}</h1>
<h2 ng-show="startHere">Let's get started!</h2>


<!-- <div class="form" ng-show="form">
  <input class="email" type="input" name="name" value="" placeholder="Email" ng-model='email' ng-click="getEmails()"><p ng-show='taken'>That email has already been taken</p><p ng-show='invalidEmail'>You must enter a vaild email address</p>
  <input class="password" type="password" name="name" value="" placeholder="Password" ng-model='password' ng-keyup="emailCheck(email);  validateEmail(email)"><p ng-show="enterPassword">Please enter a password</p>
  <div class="randomWords" ng-repeat="randomWord in randomWords">
    <button class="randomWordsBtn" type="button" name="button" ng-model="randomWord" ng-click="select(randomWord)">{{randomWord}}</button>
  </div>
  <p ng-show="chooseName">Please choose a display name</p>
  <br>
  <button class="createBtn" type="button" name="button" ng-click="checkPassword(password); create(emailCheck, validateEmail, checkPassword, email, password, randomWord)">Create Account</button>
  <div class="terms" >By creating an account you agree to the terms of service.</div>
</div> -->

<div class="form">
  <input class="email" type="email" name="name" value="" placeholder="Email" ng-model='email'>
  <input class="password" type="password" name="name" value="" placeholder="Password" ng-model='password'>
  <div class="randomWords" ng-repeat="randomWord in randomWords">
    <button class="randomWordsBtn" type="button" name="button" ng-model="randomWord" ng-click="select(randomWord)">{{randomWord}}</button>
  </div>
  <p ng-show="chooseName">Please choose a display name</p>
  <br>
<button ng-click="signup(email, password)">Register</button>
  <div class="terms" >By creating an account you agree to the terms of service.</div>
</div>

<button type="button" name="button" ui-sref="dashboard" ng-show="startBtn">Go to Dashboard</button>

</body>
