<div class="draft">
  <div ng-show="draft">{{draft.story}}</div>
  <div ng-show='draftid' ng-model="id">{{draft.id}}</div>
  <button type="button" name="button" ng-click="continue()" ng-show="continueButton">Continue</button>
  <button type="button" name="button" ng-click="publish(draft); remove(draft)" ng-show="publishButton">Publish</button>
  <button type="button" name="button" ng-click="update(draft)" ng-show="saveButton">Save</button>
  <textarea name="name" rows="8" cols="40" ng-show='textArea' ng-model='draft'>{{draft.story}}</textarea>
  <button type="button" name="button" ng-click="remove(draft.id)">Delete</button>
</div>
