<div class="main-nav">
  <div class="nav-title">
    Story Swap
  </div>
  <div class="nav-btns">
    <button class="nav-signUpBtn" type="button" name="button"ng-click="begin(); getRandomWords(); getEmails()" ng-show="startButton" ui-sref="signUp">Sign Up</button>
    <button class="nav-logInBtn" type="button" name="button" ui-sref="login" class='loginBtn' ng-show="logIn">Log in</button>
  </div>
</div>
<div class="intro-overlay"></div>
<section class="intro-main">
  <div class="intro-video">
    <!-- <video loop class="background-vid" src="./videos/In-And-Out.mp4" autoplay poster="posterimage.jpg"></video> -->
  </div>

  <div class="title-Buttons">
    <div class="intro-title">
      <h1 class="title">Story Swap</h1>
    </div>

    <div class="buttons">
      <button class="signUpBtn" type="button" name="button"ng-click="begin(); getRandomWords(); getEmails()" ng-show="startButton" ui-sref="signUp">Sign Up</button>
      <button class="logInBtn" type="button" name="button" ui-sref="login" class='loginBtn' ng-show="logIn">Log in</button>
    </div>
  </div>


</section>
<section class="info">

  <div class="section-1">
    <div class="section-1-tag">
      <p id="share">Share</p>
      <p id="stories">Stories</p>
      <p id="anon">Anonymously</p>
    </div>
  </div>
  <div class="section-2">
    <div class="overlay"></div>
    <div class="section-2-title">
      <h2>What can you do with</h2>
      <h1>Story Swap?</h1>
    </div>
    <div class="section-2-words">
        <h2>Write</h2>
        <h2>Explore</h2>
        <h2>Learn</h2>
        <h2>Laugh</h2>
        <h2>Read</h2>
        <h2>Grow</h2>
    </div>

  </div>
</section>
<section class="how-it-works">
  <div class="hiw-title">How it works</div>
    <div class="steps">
      <div class="step-1">
        <div class="step-1-num">
          one
        </div>
        <div class="step-1-desc">
          Pick your new name. No, really! You'll choose a display name, and that will be your identity from here on out
        </div>
      </div>
      <div class="step-2">
        <div class="step-2-num">
          two
        </div>
        <div class="step-2-desc">
          Check out what others have posted. Follow those you like. Save the awesome stories you come across
        </div>
      </div>
      <div class="step-3">
        <div class="step-3-num">
          three
        </div>
        <div class="step-3-desc">
          Write! Bless the world with your stories and experiences.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="signup">
  <div class="signup-call">
    <h1>What are you waiting for?</h1>
    <h2>Try Story Swap today!</h2>
    <button class="signup-call-btn" type="button" name="button" ui-sref="signUp">Start Here!</button>
  </div>

</section>
