.dashboard-nav {
  height: 10vh;
  width: 100%;
  background: mintcream;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid black
}

.dashTitle {
  display: flex;
  margin-top: 33px;
  height: 10vh;
  margin-left: 20px;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: black;
  -webkit-text-fill-color: transparent;
 background: -webkit-linear-gradient(transparent, transparent),
             url('../img/space2-background.jpg') repeat;
 background: -o-linear-gradient(transparent, transparent);
 -webkit-background-clip: text;
}

.menu-btn {
  display: none;
}

.menu-nav {
  display: none;
}

.dashboard-nav-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
}

.storiesBtn {
  height: 10vh;
  background: transparent;
  font-size: 15px;
  outline: none;
  border: none;
  font-family: 'Merriweather Sans', sans-serif;
}

.storiesBtn:hover{
  /*font-weight: bold;*/
  color: black;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  /*background: url("../img/space-background.jpg")*/
}

.followingBtn {
  height: 10vh;
  font-size: 15px;
  background: transparent;
  outline: none;
  border: none;
  font-family: 'Merriweather Sans', sans-serif;
}

.followingBtn:hover{
  /*font-weight: bold;*/
  color: black;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  /*background: url("../img/space-background.jpg")*/
}

.draftsBtn {
  height: 10vh;
  font-size: 15px;
  background: transparent;
  outline: none;
  border: none;
  font-family: 'Merriweather Sans', sans-serif;
}

.draftsBtn:hover{
  /*font-weight: bold;*/
  color: black;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  /*background: url("../img/space-background.jpg")*/
}

.userBtn {
  height: 10vh;
  font-size: 15px;
  background: transparent;
  outline: none;
  border: none;
  font-family: 'Merriweather Sans', sans-serif;
}

.userBtn:hover{
  /*font-weight: bold;*/
  color: black;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  /*background: url("../img/space-background.jpg")*/
}

.composeBtn {
  height: 10vh;
  font-size: 15px;
  background: transparent;
  outline: none;
  border: none;
  font-family: 'Merriweather Sans', sans-serif;
}

.composeBtn:hover{
  /*font-weight: bold;*/
  color: black;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  /*background: url("../img/space-background.jpg")*/
}

.logOutBtn {
  height: 10vh;
  font-size: 15px;
  background: transparent;
  outline: none;
  border: none;
  font-family: 'Merriweather Sans', sans-serif;
}

.logOutBtn:hover{
  /*font-weight: bold;*/
  color: black;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  /*background: url("../img/space-background.jpg")*/
}

.compose{
  display: flex;
  height: 20vh;
    /* justify-content: flex-end; */
  background: #394B49;
  padding-top: 9px;
  position: absolute;
  z-index: 100;
  left: 61vw;

}

.compose textarea {
  font-family: 'Muli', sans-serif;
  font-size: 15px;
}

.compose-textarea {
  border-radius: 5px;
  position: relative;
  left: -7%;
  font-family: 'Muli', sans-serif;
  background: mintcream;
}

.compose-btn-body {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.compose-publishBtn {
  display: flex;
    height: 25%;
    position: relative;
    font-family: 'Merriweather Sans', sans-serif;
    /* left: -5.8%; */
    width: 10%;
    padding-left: 43px;
    border: 1px solid black;
    border-radius: 5px;
    background: #FF5B64;
    width: 100%;
    padding-right: 34px;
}

.compose-publishBtn:hover {
  background: #FB8684;
}

.compose-saveBtn {
  display: flex;
height: 25%;
position: relative;
font-family: 'Merriweather Sans', sans-serif;
/* left: -5.8%; */
width: 10%;
padding-left: 43px;
border: 1px solid black;
border-radius: 5px;
background: #FF5B64;
width: 100%;
padding-right: 34px;
}

.compose-saveBtn:hover {
  background: #FB8684;
}


/*stories page*/
.storiesPage {
  /*display: flex;*/
  overflow: scroll;
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: center;
  /*background: #94C7CC;*/
  background: #394B49;
  width: 100%;
}


.stories {
  height: 90vh;
  overflow: scroll;
  position: relative;
  left: 19%;
  /*background: #5B9A9E;*/
  background: #00A06F;
    /* top: 4%; */
  margin-top: 10px;
  width: 200%;
  height: 100vh;
  z-index: 30;
  border-radius: 5px;
  /*border: 2px solid #D14758;*/
  border: 2px solid grey;
}

.story {
  background: #E8FFF5;
  position: relative;
  left: 60px;
  margin: 10px;
  text-align: center;
  height: 25%;
  width: 40%;
  border-radius: 5px;
  border: 1px solid black;
  font-family: 'Muli', sans-serif;
}

.story-box {
  height: 100%;
  width: 90%;
  margin-left: 10%;
  padding-top: 10px;
  padding-bottom: 20%;
  position: relative;
  top: -12%;
  overflow: scroll;
}

.storiesPage-story-control {
  display: flex;
  justify-content: center;
  position: relative;
  top: -31%;
  height: 19%;
  background: #E8FFF5;
  padding-top: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid black;
}

.storiesPage-likeBtn {
  margin-right: 5%;
  font-family: 'Merriweather Sans', sans-serif;
  border: none;
  background: transparent;
  font-size: 15px;
  cursor: pointer;
}

.storiesPage-likeBtn:hover {
  border-bottom: 2px solid black;
}

.likeCount {
  margin-right: 5%;
}

.storiesPage-followBtn {
  margin-right: 5%;
  font-family: 'Merriweather Sans', sans-serif;
  border: none;
  background: transparent;
  font-size: 15px;
  cursor: pointer;
}

.storiesPage-followBtn:hover {
  border-bottom: 2px solid black;
}

.storiesPage-saveBtn {
  font-family: 'Merriweather Sans', sans-serif;
  border: none;
  background: transparent;
  font-size: 15px;
  cursor: pointer;
}

.storiesPage-saveBtn:hover {
  border-bottom: 2px solid black;

}

.story-displayName-box {
  border-right: 2px solid black;
  width: 10%;
  height: 100%;
  background: mintcream;
  display: inline-block;
  position: absolute;
  left: 0%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 30;
}

.story-displayName {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  position: relative;
  /*color: #FF5B64;*/
  display: flex;
  justify-content: center;
  left: -24%;
  top: 60%;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  width: 200px;
  z-index: 30;
}

@media(min-width: 1470px){
  .story-displayName {
    left: -20%;
  }
}

@media(max-width: 1246px){
  .story-displayName {
    left: -28%
  }
}

@media(max-width: 1138px){
  .story-displayName {
    left: -30%
  }
}

@media(max-width: 1024px){
  .story-displayName {
    left: -32%;
  }
}

.storiesPage-following {
  position: relative;
  height: 50vh;
  width: 50%;
  /*border: 3px solid black;*/
  margin-right: 19%;
  margin-bottom: 20%;
  font-family: 'Merriweather Sans', sans-serif;
  z-index: 30;
}

.storiesPage-following h1 {
  font-size: 25px;
  font-family: 'Lobster', cursive;

}
.storiesPage-following-displayName {
  display: inline-block;
  margin: 10px;
}

.storiesPage-following-displayName:hover {
  border-bottom: 2px solid black;
  cursor: default;
}

.storiesPage-following-unfollowBtn {
  background: transparent;
  border: none;
  outline: none;
}

.storiesPage-following-unfollowBtn img {
  height: 15px;
}

.storiesPage-label {
  position: absolute;
  font-size: 160px;
  width: 100%;
  padding-left: 5%;
  left: 47%;
  top: 70%;
  font-family: 'Lobster', cursive;
  font-weight: lighter;
  /*color: #393B3B;*/
  color: #272A2F;
  /*-webkit-text-fill-color: transparent;
 background: -webkit-linear-gradient(transparent, transparent),
             url('../img/In-And-Out.jpg') repeat;
 background: -o-linear-gradient(transparent, transparent);
 -webkit-background-clip: text;*/
 /*opacity: .8;*/
 z-index: 40;
}

/*Following */
.following-page {
  height: 100vh;
  width: 100%;
  background: #394B49;
}

.following-page h1 {
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  font-size: 20px;
}

.following-page-stuff {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #394B49;
  width: 100%;
  z-index: 30;
}

.following-page-btns {
  position: relative;
  height: 50vh;
  width: 50%;
  /*border: 3px solid black;*/
  margin-right: 19%;
  margin-bottom: 20%;
  font-family: 'Merriweather Sans', sans-serif;
  outline: none;
  z-index: 30;
}

.following-button {
  background: #819799;
  border: none;
  font-size: 20px;
  outline: none;
  background: transparent;
}

.following-button:hover {
  border-bottom: 2px solid black;
}

.following-page-stories {
  height: 90vh;
  overflow: scroll;
  position: relative;
  left: 19%;
  background: #00A06F;
  /*background: #D14758;*/
    /* top: 4%; */
  margin-top: 10px;
  width: 200%;
  height: 100vh;
  z-index: 30;
  border-radius: 5px;
  /*border: 2px solid #D14758;*/
  border: 2px solid grey;
}

.following-page-story {
  background: #E8FFF5;
  position: relative;
  left: 60px;
  margin: 10px;
  text-align: center;
  height: 173px;
  width: 40%;
  border-radius: 5px;
  border: 1px solid black;
  font-family: 'Merriweather Sans', sans-serif;
}

.following-displayName-box {
  border-right: 2px solid black;
  width: 10%;
  height: 100%;
  background: mintcream;
  display: inline-block;
  position: absolute;
  left: 0%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.following-displayName {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  position: relative;
  /*color: #FF5B64;*/
  display: flex;
  justify-content: center;
  left: -26%;
  top: 68%;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  width: 200px;
}

@media(min-width: 1470px){
  .story-displayName {
    left: -20%;
  }
}

@media(max-width: 1246px){
  .story-displayName {
    left: -28%
  }
}

@media(max-width: 1138px){
  .story-displayName {
    left: -30%
  }
}

@media(max-width: 1024px){
  .story-displayName {
    left: -32%;
  }
}

.following-story {
    height: 100%;
    width: 90%;
    margin-left: 10%;
    padding-top: 10px;
    padding-bottom: 20%;
    position: relative;
    top: -12%;
    overflow: scroll;
}

.followingPage-label {
  position: absolute;
  font-size: 110px;
  width: 100%;
  padding-left: 5%;
  left: 48%;
  top: 70%;
  font-family: 'Lobster', cursive;
  font-weight: lighter;
  /*color: #DB9E36;*/
  color: #272A2F;
  /*-webkit-text-fill-color: transparent;
 background: -webkit-linear-gradient(transparent, transparent),
             url('../img/space2-background.jpg') repeat;
 background: -o-linear-gradient(transparent, transparent);
 -webkit-background-clip: text;*/
 /*opacity: .8;*/
 z-index: 40;
}

/* drafts */
.drafts-page {
  height: 100vh;
  width: 100%;
  background: #394B49;
}

.drafts-page-stuff {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #394B49;
  width: 100%;
}

.drafts {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  overflow: scroll;
  position: relative;
  /* left: 19%; */
  width: 67.5%;
  height: 100vh;
  background: #00A06F;
  margin-top: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}

.draft {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: #E8FFF5;
  position: relative;
  margin: 10px;
  text-align: center;
  height: 25%;
  width: 40%;
  border-radius: 5px;
  border: 1px solid black;
  font-family: 'Muli', sans-serif;
}

.draft-editable {
  margin-top: 10px;
}

.draft-btns {
  display: flex;
  justify-content: center;
  margin: 10px;
}


.draft-publish {
  margin-right: 10px;
}

.draft-publish:hover {
  border-bottom: 1px solid black;
  cursor: default;

}

.draft-delete {
  margin-left: 10px;
}

.draft-delete:hover {
  /*font-weight: bolder;*/
  border-bottom: 1px solid black;
  cursor: default;
}

.draftPage-label {
  position: absolute;
  font-size: 140px;
  width: 100%;
  padding-left: 5%;
  left: 49%;
  top: 70%;
  font-family: 'Lobster', cursive;
  font-weight: lighter;
  /*color: #DB9E36;*/
  color: #272A2F;
  /*-webkit-text-fill-color: transparent;
 background: -webkit-linear-gradient(transparent, transparent),
             url('../img/In-And-Out.jpg') repeat;
 background: -o-linear-gradient(transparent, transparent);
 -webkit-background-clip: text;*/
 /*opacity: .8;*/
 z-index: 40;
}


/*my stories page*/
.myStories-page {
  height: 100vh;
  width: 100%;
  background: #394B49;
}

.myStories-page-toggleBtns {
  display: flex;
  justify-content: center;
  position: relative;
  top: 2%;
}

.myStories-page-stuff {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #394B49;
  width: 100%;
  overflow: scroll;
}

.myStories {
  display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    overflow: scroll;
    position: relative;
    /* left: 19%; */
    width: 67.5%;
    height: 100vh;
    background: #00A06F;
    margin-top: 28px;
    border: 1px solid grey;
    border-radius: 5px;
}

.myStory {
  display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #E8FFF5;
    position: relative;
    margin: 10px;
    text-align: center;
    height: 25%;
    width: 40%;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Muli', sans-serif;
    overflow: scroll;
}

.myStories-box {
  height: 90%;
  overflow: scroll;
  padding: 10px;
}

.myStories-btn-box {
  height: 14%;
  background: #E8FFF5;
  border-top: 1px solid black;
  padding-top: 2px;
  font-family: 'Merriweather Sans', sans-serif;
}

.myStories-page-toggleBtns {
  font-size: 15px;
  font-family: 'Merriweather Sans', sans-serif;
}

.myStories-btn {
  background: #E8FFF5;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid black;
  font-size: 12px;
  font-family: 'Merriweather Sans', sans-serif;
}

.myStories-savedStories-btn {
  background: transparent;
  outline: none;
  border: 2px solid black;
  font-size: 12px;
  font-family: 'Merriweather Sans', sans-serif;
}

/*.myStories-label {
  position: absolute;
  font-size: 160px;
  width: 100%;
  padding-left: 5%;
  left: 48%;
  top: 70%;
  font-family: 'Lobster', cursive;
  font-weight: lighter;
  /*color: #272A2F;*/
  /*-webkit-text-fill-color: transparent;
 background: -webkit-linear-gradient(transparent, transparent),
             url('../img/In-And-Out.jpg') repeat;
 background: -o-linear-gradient(transparent, transparent);
 -webkit-background-clip: text;*/
 /*opacity: .8;*/
 /*z-index: 40;*/
/*}*/

.savedStories {
  overflow: scroll;
    position: relative;
    /* left: 19%; */
    /* background: #5B9A9E; */
    background: #00A06F;
    /* top: 12%; */
    margin-top: 10px;
    width: 67.5%;
    height: 100vh;
    z-index: 30;
    border-radius: 5px;
    /* border: 2px solid #D14758; */
    border: 2px solid grey;
    margin-top: 27px;
}

.savedStory {
  background: #E8FFF5;
  position: relative;
  left: 60px;
  margin: 10px;
  text-align: center;
  height: 175px;
  width: 40%;
  border-radius: 5px;
  border: 1px solid black;
  font-family: 'Muli', sans-serif;
}

.savedStory-displayName-box {
  border-right: 2px solid black;
  width: 10%;
  height: 100%;
  background: mintcream;
  display: inline-block;
  position: absolute;
  left: 0%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 30;
}

.savedStory-displayName {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  position: relative;
  display: flex;
  justify-content: center;
  left: -24%;
  top: 60%;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  width: 200px;
  z-index: 30;
}

.savedStory-story-box {
  height: 100%;
  width: 90%;
  margin-left: 10%;
  padding-top: 8px;
  padding-bottom: 20%;
  position: relative;
  top: -11%;
  overflow: scroll;
}

.savedStory-btn-control {
  display: flex;
  justify-content: center;
  position: relative;
  top: -30%;
  height: 19%;
  background: #E8FFF5;
  padding-top: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.savedStory-delete:hover {
  cursor: default;
  border-bottom: 1px solid black;
}

@media(max-width: 770px) {
  body {
    background: #394B49;
  }
  /*dashboard nav*/
  .dashTitle {
    margin-top: 10%
  }

  .storiesBtn {
    font-size: 13px;
  }

  .followingBtn {
    font-size: 13px;
  }

  .draftsBtn {
    font-size: 13px;
  }

  .userBtn {
    font-size: 13px;
  }

  .composeBtn {
    font-size: 13px;
  }

  .logOutBtn {
    font-size: 13px;
  }

  .compose {
    left: 0vw;
    width: 100vw;
    position: inherit;
  }

  .compose-textarea {
    left: 28vw;
  }

  .compose-btn-body {
    position: relative;
    left: 34vw;
  }

  /*stories page*/
  .storiesPage {
    width: 100vw;
    height: 90vh;
  }

  .stories {
    /*left: 16%;
    height: 90vh;
    width: 300%;*/
    left: 9%;
    height: 90vh;
    width: 192vw;
  }

  .story {
    width: 55%;
    left: 3%;
  }

  .story-displayName {
    left: -25%;
    top: 66%;
  }

  .storiesPage-story-control {
    top: -18%;
  }

  .story-box {
    top: -8%;
    height: 20vh;
  }

  .storiesPage-following {
    width: 44vw;
    left: -16%;
    margin-right: 0%;
    position: relative;
    height: 33vh;
    top: -15%;
    overflow: scroll;
  }

  .storiesPage-label {
    width: 53%;
    left: 48%;
    top: 66%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)
  }

  /*following page*/
  .following-page {
    width: 100vw;
    height: 90vh;
  }

  .following-page-stuff {
    width: 100vw;
    height: 90vh;
  }

  .following-page-stories {
    height: 90vh;
    width: 500vw;
    left: 14%;
  }

  .following-page-story {

  }

  .followingPage-label {
    width: 53%;
    left: 48%;
    top: 66%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)
  }
}

@media(max-width: 414px) {
  .dashboard-nav {
    width: 100vw;
  }

  .dashTitle {
    font-size: 52px;
    margin-top: 20px;
    /* height: 17vh; */
    width: 600%;
    display: inline-block;
    position: relative;
    top: 0%;
    left: 0%;
    transition: .5s;
  }

  .menu-btn {
    display: inline-block;
    position: relative;
    left: -4%;
  }

  .menu-btn img {
    width: 30px;
  }

  .mobile-nav {
    top: -5%;
    left: 17%;
    position: absolute;
    transition: .5s;

  }

  .dashboard-nav-btns {
    display: none;
  }

  .compose-textarea {
    left: 3vw;
    width: 72vw;
  }

  .compose-btn-body {
    left: 15px;
    width: 22vw;
  }

  .compose-saveBtn {
    width: 21vw;
    padding-left: 28px;
  }

  .compose-publishBtn {
    width: 21vw;
    padding-left: 21px;
  }

  /* stories page*/
  .storiesPage {
    width: 100vw;
    height: 90vh;
    z-index: 30
  }

  .stories {
    width: 96vw;
    height: 90vh;
    left: 0%;
  }

  .story {
    width: 87vw;
    left: 1.5%;
  }

  .story-box {

  }

  .story-displayName-box {

  }

  .story-displayName {
    top: 57%;
    left: -22%;
  }

  .storiesPage-story-control {
    top: -24%;
  }

  .storiesPage-label {
    display: none;
    font-size: 100px;
    top: 63%;
    left: 59%;
  }

  .storiesPage-following {
    display: none;
  }

  /*Following page*/
  .following-page {

  }

  .following-page-stuff {
    width: 100vw;
  }

  .following-page-stories {
    width: 96vw;
    height: 90vh;
    left: 0%;
  }

  .following-displayName {
    left: -22%;
  }

  .following-page-story {
    width: 87vw;
    left: 2%;
  }

  .following-page-btns {
    display: none;
  }

  .following-btn {

  }

  .followingPage-label{
    display: none;
  }

  /*drafts page*/
  .drafts-page {
    height: 90vh;
  }
  .drafts-page-stuff {
    width: 100vw;
  }

  .drafts {
    width: 96vw;
    height: 90vh;
    left: 0%;
  }

  .draft {
    width: 87vw;
    left: 0%;
  }

  .draftPage-label {
    display: none;
  }

  .myStories-page {
    height: 90vh;
  }

  .myStories-page-stuff {
    width: 100vw;
  }

  .myStories {
    width: 96vw;
    height: 90vh;
    left: 0%;
  }

  .myStory {
    width: 87vw;
    left: 0%;
  }

  .savedStories {
    width: 96vw;
    height: 90vh;
    left: 0%;
  }

  .savedStory {
    width: 87vw;
    left: 1.5%;
  }

  .savedStory-displayName {
    left: -22%;
  }

  .savedStory-story-box {
    height: 145px;
  }

  .savedStory-btn-control {
    top: -14%;
  }

}

@media(max-width: 375px) {
  .dashTitle {
    font-size: 48px;
    top: -9%;
  }

  .mobile-nav {
    left: 13%;
  }

  .story-displayName {
    left: -25%;
    top: 58%;
    font-size: 17px;
  }

  .following-displayName {
    left: -25%;
    top: 58%;
    font-size: 17px;
  }

  .savedStory-displayName {
    left: -25%;
    top: 64%;
    font-size: 17px;
  }

  .savedStory-btn-control {
    top: -12%;
  }

}
