
.main-nav {
  height: 12vh;
  position: fixed;
  background: mintcream;
  border-bottom: 3px solid black;
  z-index: 60;
  width: 100vw;
  top: -12%;
  display: flex;
  justify-content: space-between;
}

.nav-title {
  font-size: 55px;
  position: relative;
  top: 10%;
  left: 2%;
  font-family: 'Lobster', cursive;
}

.nav-btns {
  font-family: 'Merriweather Sans', sans-serif;
  width: 25vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-signUpBtn {
  border: none;
  background: transparent;
  font-size: 20px;
}

.nav-logInBtn {
  border: none;
  background: transparent;
  font-size: 20px;
}

.intro-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  /*position: fixed;*/
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.background-vid {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .background-vid {
    height: 300%; /*was 300 but changed so it didn't cover bottom div */
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .background-vid {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .intro-main {
    /*background: url('../img/videoframe.jpg') center center / cover no-repeat;*/
  }

  .background-vid {
    display: none;
  }
}


/*.slider {
  width: 100%;
  display: inline-block;
  position: absolute;
  top: -150px;
}*/

/*.slider img{
  width: 100%
}*/

.title-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*position: relative;*/
  /*width: 100%;*/
  z-index: 50;
}
.intro-title {
  display: flex;
  height: 125px;
  position: relative;
  font-size: 120px;
  color: white;
  letter-spacing: 5px;
  z-index: 50;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lobster', cursive;
  font-size: 100px;
  color: white;
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 50px;
  z-index: 50;
}

.signUpBtn {
  display: inline-block;
  width: 250px;
  height: 50px;
  background: #FF5B64;
  outline: none;
  font-family: 'Merriweather Sans', sans-serif;
  border: 1.5px solid black;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 3px;
  margin: 20px;
  opacity: .8;
}

.signUpBtn:hover {
  background: #FB8684
}

.logInBtn {
  display: inline-block;
  width: 250px;
  height: 50px;
  background: #FF5B64;
  outline: none;
  font-family: 'Merriweather Sans', sans-serif;
  border: 1.5px solid black;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 3px;
   opacity: .8;
}

.logInBtn:hover {
  background: #FB8684
}

/*sign up page*/
.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: mintcream;
}

.signup-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url('../img/skyline.jpeg');
  background-position: left -346% top -324%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.signup-under-nav{
  position: fixed;
  top: 0%;
  height: 10%;
  width: 100%;
  background: transparent;
  background-position: left -1900px top 2700px;
  transition: all 500ms ease;
  z-index: 30;
}

.signup-back-to-landing {
  outline: none;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: mintcream;
  position: relative;
  top: 0%;
  left: 5%;
  font-weight: bold;
  letter-spacing: 2px;
  z-index: 50;
  border-bottom: 4px solid mintcream;
}


.signup-title {
  display: flex;
  margin: 20px;
  font-size: 40px;
  font-family: 'Merriweather Sans', sans-serif;
}

.signup-displayName {
  display: flex:block;
  font-size: 20px;
  font-family: 'Lobster', cursive;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  border: 3px solid black;
  background: mintcream;
  box-shadow: 5px 5px 20px #141414;
  z-index: 30;
}


.randomWordsBtn {
  display: inline-block;
  background: transparent;
  outline: none;
  border: 1.5px solid black;
  color: black;
  margin: 5px;
  font-family: 'Merriweather Sans', sans-serif;

}

.randomWordsBtn:hover {
  background: black;
  color: white
}

.createBtn {
  display: inline-block;
  width: 100px;
  height: 30px;
  background: #2b8cbe;
  outline: none;
  border-radius: 50px;
  border: 1.5px solid #0868ac;
  color: white;
}

.signup-register {
  width: 175px;
  height: 40px;
  background: #FF5B64;
  outline: none;
  font-family: 'Merriweather Sans', sans-serif;
  border: 1.5px solid black;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 3px;
  margin-top: 30px;
  margin-bottom: 10px;
  z-index: 30;
}

.signup-register:hover{
  background: #FB8684;
}

.terms {
  display: inline-block;
  font-size: 10px;
  position: relative;
  top: 40%;
  font-family: 'Merriweather Sans', sans-serif;

}

/*login and confirm login*/
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url('../img/skyline.jpeg');
  background-position: left -346% top -324%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.loginBox {
  padding: 40px;
  border: 3px solid black;
  background: mintcream;
  box-shadow: 5px 5px 20px #141414;
  z-index: 30;
}


.under-nav{
  position: fixed;
  top: 0%;
  height: 10%;
  width: 100%;
  background: transparent;
  background-position: left -1900px top 2700px;
  transition: all 500ms ease;
  z-index: 30;
}

.back-to-landing {
  outline: none;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: mintcream;
  position: relative;
  top: 0%;
  left: 5%;
  font-weight: bold;
  letter-spacing: 2px;
  z-index: 50;
  border-bottom: 4px solid mintcream;
}

.confirmLogin-under-nav{
  position: fixed;
  top: 0%;
  height: 10%;
  width: 100%;
  background: transparent;
  background-position: left -1900px top 2700px;
  transition: all 500ms ease;
  z-index: 30;
}

.confirmLogin-back-to-landing {
  outline: none;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: mintcream;
  position: relative;
  top: 0%;
  left: 5%;
  font-weight: bold;
  letter-spacing: 2px;
  z-index: 50;
  border-bottom: 4px solid mintcream;
}

.confirmLogin-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url('../img/skyline.jpeg');
  background-position: left -346% top -324%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.confirmLogin-box {
  padding: 40px;
  border: 3px solid black;
  background: mintcream;
  box-shadow: 5px 5px 20px #141414;
  z-index: 30;
}

.welcome {
  display: flex;
  font-size: 60px;
  /*position: relative;*/
  font-family: 'Merriweather Sans', sans-serif;
}

.confirm {
  display: flex;
  font-size: 40px;
  /*position: relative;*/
  font-family: 'Merriweather Sans', sans-serif;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.email {
  height: 30px;
  width: 200px;
  border: none;
  border-bottom: 2px solid black;
  margin: 20px;
  outline: none;
  background: transparent;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20px;
}

.password {
  height: 30px;
  width: 200px;
  border: none;
  border-bottom: 2px solid black;
  margin: 20px;
  outline: none;
  background: transparent;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20px;
}

.loginPageBtn {
  width: 175px;
  height: 40px;
  background: #FF5B64;
  outline: none;
  font-family: 'Merriweather Sans', sans-serif;
  border: 1.5px solid black;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 3px;
  margin: 10px;
}

.loginPageBtn:hover {
  background: #FB8684;
}

/*logout page*/
.logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: mintcream;
}

.logout-title {
  display: flex;
  font-size: 40px;
  color: mintcream;
  /*position: relative;*/
  font-family: 'Merriweather Sans', sans-serif;
  z-index: 30
}

.logout-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url('../img/skyline.jpeg');
  background-position: left -346% top -324%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}


.logout-under-nav{
  position: fixed;
  top: 0%;
  height: 10%;
  width: 100%;
  background: transparent;
  background-position: left -1900px top 2700px;
  transition: all 500ms ease;
  z-index: 30;

}

.logout-back-to-landing {
  outline: none;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: mintcream;
  position: relative;
  top: 0%;
  left: 5%;
  font-weight: bold;
  letter-spacing: 2px;
  z-index: 50;
  border-bottom: 4px solid mintcream;
}

.logout-Page-Btn {
  width: 175px;
  height: 40px;
  background: #FF5B64;
  outline: none;
  font-family: 'Merriweather Sans', sans-serif;
  border: 1.5px solid black;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 3px;
  margin-top: 30px;
  z-index: 30;
}

.logout-Page-Btn:hover {
  background: #FB8684;
}

/*landing page*/
.info {
  position: relative;
  /*height: 100vh;*/
  width: 100%;
  overflow: hidden;
}

.section-1{
  width: 100%;
  height: 68vh;
  background: #394B49;
  color: mintcream;
  font-size: 50px;
  font-family: 'Merriweather Sans', sans-serif;
}

.section-1-tag {
  height: 68vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-1-tag p {
  margin: 30px;
}

.overlay {
  position: absolute;
    top: 52%;
    bottom: 0;
    right: 0;
    left: 0;
    background: #3D4148;
    z-index: 1;
    height: 50.25vh;
    width: 100%;
    opacity: 0.5;
    z-index: 1;
}

.section-2 {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /*background: #00A06F;*/
  background: url('https://hd.unsplash.com/photo-1455995446964-ac64c23b70ba') no-repeat;
  background-size: auto;
  background-position: left 58% top 50%;
}

.section-2-title {
  z-index: 30;
    height: 40vh;
    width: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 11%;
}

.section-2-title h2 {
  font-family: 'Merriweather Sans', sans-serif;
    font-size: 31px;
    font-weight: lighter;
    margin-top: 35px;
}

.section-2-title h1 {
  font-family: 'Lobster', cursive;
  font-size: 83px;
  font-weight: bolder;
  margin-top: 35px;
}

.section-2-words {
  display: flex;
    width: 100vw;
    height: 10vh;
    position: relative;
    top: 6%;
    align-items: center;
    justify-content: space-around;
    font-size: 26px;
    font-family: 'Merriweather Sans', sans-serif;
    color: #F5E6E6;
}

.how-it-works {
  height: 105vh;
  width: 100vw;
  background: #00A06F;
  display: flex;
  align-items: center;
  position: relative;
}

.hiw-title {
  font-size: 100px;
    color: #3D4148;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: absolute;
    left: -17%;
    top: 44%;
    width: 50vw;
    font-family: 'Merriweather Sans', sans-serif;
}

.steps {
  display: flex;
    height: 80vh;
    position: relative;
    left: 16%;
    width: 84vw;
    background: #394B49;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.step-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 3%;
  height: 60%;
  width: 29%;
  align-items: center;
  top: 19%;
  border: 4px solid black;
  background: mintcream;
  border-radius: 5px;

}

.step-1-num {
  font-size: 75px;
  font-family: 'Lobster', cursive;
  text-shadow: 2px 2px 8px #272525;
  border-bottom: 2px solid black;
}

.step-1-desc {
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  margin-top: 50px;
}

.step-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 6%;
  width: 29%;
  height: 60%;
  align-items: center;
  top: 19%;
  border: 4px solid black;
  background: mintcream;
  border-radius: 5px;

}

.step-2-num {
  font-size: 75px;
  font-family: 'Lobster', cursive;
  text-shadow: 2px 2px 8px #272525;
  border-bottom: 2px solid black;
}

.step-2-desc {
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  margin-top: 50px;
}

.step-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 9%;
  width: 29%;
  height: 60%;
  align-items: center;
  top: 19%;
  border: 4px solid black;
  background: mintcream;
  border-radius: 5px;
}


.step-3-num {
  font-size: 75px;
  font-family: 'Lobster', cursive;
  text-shadow: 2px 2px 8px #272525;
  border-bottom: 2px solid black;
  position: relative;
  top: -3%;
}

.step-3-desc {
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  margin-top: 50px;
  position: relative;
  top: -3%;
}

.signup {
  height: 100vh;
  background: mintcream;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-call {
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
}

.signup-call h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 45px;
}

.signup-call h2 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 25px;
  margin: 45px;
}

.signup-call-btn {
  display: inline-block;
  width: 250px;
  height: 50px;
  background: #FF5B64;
  outline: none;
  font-family: 'Merriweather Sans', sans-serif;
  border: 1.5px solid black;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 3px;
   opacity: .8;
}

.signup-call-btn:hover {
  background: #FB8684
}
